<div>
    budget <input required type="number" name="nameValue" value="" placeholder="enter your budget">
    <br><br>
    Total expense <input required type="number" name="nameValue" value="" placeholder="enter your budget">
    <br><br>

<div class="">
  {{message}}
</div>
<div>

</div>
<button class="button-primary" type='backToFirstpage' name="button">BACK</button>

</div>